@media (max-width: 450px) {
    .__login{
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: relative;
        background-color: rgb(255, 255, 255);
    }    
    ._login_card{
        width: 95%;
        height: 90vh;
        border: 1px solid;
        border-radius: 10px;
        position: absolute;

        h1{
            text-align: center;
        }
    }
    ._register_card{
        width: 95%;
        height: 90vh;
        margin-top: 30px;
        border: 1px solid;
        border-radius: 10px;
        h1{
            text-align: center;
        }
        p{
            height:0px;
        }
    }
    ._login_title{
        align-items: center;
        color: aliceblue;
        display: flex;
        position: relative;
        background: url('../img/coffe.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 3px;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: 35%;
        h1{
            font-family: 'Roboto', sans-serif;
            font-weight: bolder 700;
            font-size: 60px;
            -webkit-text-stroke: .4px black
        }
    }
    ._login_form{
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 50px ;
        font-size: 15px;
    }
    ._Login_div{
        width: 100%;
    }
  
    ._login_input{
        width: 100%;
        border: 0px;
        border-bottom: 1px solid;
        opacity: .8;
        &:focus{
            outline: none;
            border-bottom: 1px solid rgb(114, 68, 9);
        }
    }
    ._login_button{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
        text-align: center;
        button {
            text-align: center !important;
            width: 40%;
            // padding: 10px;
            color:darkgoldenrod !important;
            border: 1px solid darkgoldenrod !important;
            background-color: aliceblue !important;
            border-radius: 4px !important;
            box-shadow: 0px 0px 0px 0px !important ;
            font-weight: 700 !important;
            &:hover{
                background-color: darkgoldenrod !important;
                color: aliceblue !important;
                box-shadow: 0px 2px 2px 0px grey !important;

            }
        }
    }
    ._login_register{
        a{
            text-decoration: none;
            color: black;
            &:hover{
                border-bottom: 1px solid;
            }
        }
    }
    .form-control{
        &:focus{
            box-shadow: none;
            outline: none;
        }
    }
}
@media (min-width: 450px) {
    .__login{
        align-items: center;
        display: flex;
        justify-content: center;
        height: 570px;
        position: relative;
        width: 100%;
    }    
    ._login_card{
        position: absolute;
        width: 70%;
        height: 550px;
        border: 1px solid;
        border-radius: 10px;
        h1{
            text-align: center;
        }
    }
    ._register_card{
        width: 70%;
        margin-top: 30px;
        border: 1px solid;
        border-radius: 10px;
        h1{
            text-align: center;
        }
        p{
            height:0px;
        }
    }
    ._login_title{
        align-items: center;
        color: aliceblue;
        display: flex;
        position: relative;
        background: url('../img/coffe.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 3px;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: 45%;
        h1{
            font-family: 'Roboto', sans-serif;
            font-weight: bolder 700;
            font-size: 60px;
            -webkit-text-stroke: .4px black
        }
    }
    ._login_form{
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 50px ;
    }
    ._Login_div{
        width: 100%;
    }
   
    ._login_input{
        width: 100%;
        border: 0px;
        border-bottom: 1px solid;
        opacity: .8;
        &:focus{
            outline: none;
            border-bottom: 1px solid rgb(114, 68, 9);
        }
    }
    ._login_button{
        margin-top: 20px;
        button {
            padding: 10px;
            color: aliceblue;
            background-color: darkgoldenrod;
        }
    }
    ._login_register{
        a{
            text-decoration: none;
            color: black;
            &:hover{
                border-bottom: 1px solid;
            }
        }
    }
    .form-control{
        &:focus{
            box-shadow: none;
        }
    }
}
@media ( min-width: 800px ) and (max-width: 1099px) {
    .__login{

        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 90%;
        position: absolute;
    }    
    ._login_card{
        width: 50%;
        margin-top: 30px;
        border: 1px solid;
        border-radius: 10px;
        h1{
            text-align: center;
        }

    }
    ._register_card{
        width: 50%;
        margin-top: 30px;
        border: 1px solid;
        border-radius: 10px;
        h1{
            text-align: center;
        }
        p{
            height:0px;
        }
    }
    ._login_title{
        align-items: center;
        color: aliceblue;
        display: flex;
        position: relative;
        background: url('../img/coffe.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 3px;
        flex-wrap: wrap;
        flex-direction: column;
        height: 45%;
        width: 100%;
        h1{
            font-family: 'Roboto', sans-serif;
            font-weight: bolder 700;
            font-size: 60px;
            -webkit-text-stroke: .4px black
        }
    }
    ._login_form{
        padding: 10px 50px ;
    }
    ._Login_div{
        width: 100%;
    }
  
    ._login_input{
        width: 100%;
        border: 0px;
        border-bottom: 1px solid;
        opacity: .8;
        &:focus{
            outline: none;
            border-bottom: 1px solid rgb(114, 68, 9);

        }

    }
    ._login_button{
        margin-top: 20px;
        button {
            padding: 10px;
            color: aliceblue;
            background-color: darkgoldenrod;
        }
    }
    ._login_register{
        a{
            text-decoration: none;
            color: black;
            &:hover{
                border-bottom: 1px solid;
            }
        }
    }
    .form-control{
        &:focus{
            box-shadow: none;
        }
    }
}
@media (min-width: 1100px) {
    .__login{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 90%;
        position: absolute;
    }    
    ._login_card{
        width: 40%;
        margin-top: 30px;
        border: 1px solid;
        height: 80vh;
        border-radius: 10px;
        h1{
            text-align: center;
        }
        p{
            height:0px;
        }
    }
    ._register_card{
        width: 40%;
        height: 80vh;
        margin-top: 30px;
        border: 1px solid;
        border-radius: 10px;
        h1{
            text-align: center;
        }
        p{
            height:0px;
        }
    }
    ._login_title{
        color: aliceblue;
        display: flex;
        position: relative;
        width: 100%;
        height: 35%;
        background:linear-gradient(
            rgba(22, 20, 19, 0.397),
            rgba(24, 22, 22, 0.363),
          ) , url('../img/coffe.jpg');
        border-radius: 3px;
        
        background-repeat: no-repeat;
        background-size: cover ;
        background-position: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        h1{
        font-family: 'Roboto', sans-serif;
        font-weight: bolder 700;
        font-size: 60px;
        -webkit-text-stroke: .4px black
    }
    }
    ._login_form{
        padding: 35px;
        position: relative;
        margin: 0 80px;
    }
    ._Login_div{
        margin-top: 0px;
        width: 100%;
    }
 
    ._login_input{
        width: 100%;
        border: 0px;
        border-bottom: 1px solid;
        opacity: .8;
        &:focus{
            outline: none;
            border-bottom: 1px solid rgb(114, 68, 9);
        }

    }
    ._login_button{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
        button {
            width: 40%;
            padding: 10px;
            color:darkgoldenrod !important;
            border: 1px solid darkgoldenrod !important;
            background-color: aliceblue !important;
            border-radius: 4px !important;
            box-shadow: 0px 0px 0px 0px !important ;
            font-weight: 700 !important;
            &:hover{
                background-color: darkgoldenrod !important;
                color: aliceblue !important;
                box-shadow: 0px 2px 2px 0px grey !important;

            }
        }
    }
    ._login_register{
        a{
            text-decoration: none;
            color: black;
            &:hover{
                border-bottom: 1px solid;
            }
        }
    }
    .form-control{
        &:focus{
            box-shadow: none;
        }
    }
    .cargando{
        width: 100%;
        z-index: 1000 !important;
        background-color: black .1 !important;
        backdrop-filter: blur(5px) contrast(.1) opacity(.4);
    }
}