
@media(max-width: 400px){
    .navbar{
        display: flex;
        flex-direction: row;
        position: sticky ;
        top: 0;
        background-color: rgb(255, 255, 255);
       text-align: center;
        
    }
    .navbar-nav{
        display: flex !important;
        flex-direction: row;
    }
    .nav-item, .nav-link{
        width: 78px;
        border-radius: 10px;
        color:  lighten($color: rgb(233, 107, 4), $amount: 35) !important;
        font-size: 12px;
        &:hover{
            // background-color: rgba(199, 196, 193, 0.212) ;
            color: rgb(233, 107, 4) !important;
        }
     
    }
    .nav-link.active{
            background-color: rgba(199, 196, 193, 0.212) ;
            color: rgb(233, 107, 4) !important;
        }
    
    ._nav_r{
        display: flex;
        flex-direction: row;
    }
}

@media(min-width: 400px){
    .navbar{
        display: flex;
        flex-direction: row;
        position: sticky ;
        top: 0;
        background-color: rgb(255, 255, 255);
       text-align: center;
        
    }
    .navbar-nav{
        display: flex !important;
        flex-direction: row;
    }
    .nav-item, .nav-link{
        width: 98px;
        border-radius: 10px;
        color:  lighten($color: rgb(233, 107, 4), $amount: 35) !important;
        &:hover{
            // background-color: rgba(199, 196, 193, 0.212) ;
            color: rgb(233, 107, 4) !important;
        }
     
    }
    .nav-link.active{
            background-color: rgba(199, 196, 193, 0.212) ;
            color: rgb(233, 107, 4) !important;
        }
    
    ._nav_r{
        display: flex;
        flex-direction: row;
    }
}
