@media (max-width: 370px){
    .__user_screen_container{
        width: 100%;
        min-height: 92vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
    
    }
    .user_table_container{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid rgb(233, 107, 4);
        overflow: auto;
    }
    
    .__user_container{
        width:max-content !important;
        display: flex;
        margin: 10px;
        justify-content:space-around;
        background-color: aliceblue;
    }
    
    .__user_name{
        width: 200px ;
       
    }
    .__user_role{
        width: 250px;
    }
    
    .__user_state{
        width: 100px;
    }
    .__user_img{
        width: 70px !important;
        padding: 5px;

        img{
            width: 80%;
            border-radius: 100px;
        }
    }
    th {
        position: sticky;
        top: 0; 
      }
}

@media (min-width:371px){
    .__user_screen_container{
        width: 100%;
        min-height: 92vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
    
    }
    .user_table_container{
        width: 100%;
        max-height: 450px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid rgb(233, 107, 4);
        overflow-x: scroll;
    }
    
    .__user_container{
        width:95%;
        display: flex;
        margin: 10px;
        justify-content:space-around;
        background-color: aliceblue;
    }
    
    .__user_name{
        width: 200px ;
       
    }
    .__user_role{
        width: 250px;
    }
    
    .__user_state{
        width: 100px;
    }
    .__user_img{
        width: 70px !important;
        padding: 5px;

        img{
            width: 100%;
            border-radius: 80px;
        }
    }
    
    th {
        position: sticky;
        top: 0; 
      }
    
}
