.cargando{
    display: flex;
    justify-content: center;
    height: 110vh;
    width: 100%;
    z-index: 999 !important;
    // background-color: rgba(0, 0, 0, 0.158)  !important;
    backdrop-filter: blur(2px)  contrast(.8) ;
}
.cargandoNav{
    display: none;
}

.__footer{
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.486);
}